body {
    background-image: url(images/computer-mouse-paper-bags-blue-background-top-view.jpg);
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: center;
}

div {
    background-color: rgba(103, 232, 255, 0.555);
    height: 700px;
    width: 600px;
    margin-left: 400px;
    border: 20px solid rgba(0, 0, 0, 0.76);
    padding-left: 60px;
}

form {
    margin-left: 80px;
    margin-right: 100px;
}

h1 {
    text-align: center;
}
